@import "/src/styles/config.scss";

@tailwind components;
@tailwind utilities;

@layer components {
	.work {
		@apply min-h-screen max-w-[1000px] mx-auto flex items-center justify-center pb-20 py-[50px] desktop-lg:px-[30px];

		.container {
			h2 {
				@apply bg-none flex items-center justify-center relative mt-[10px] mb-[80px] whitespace-nowrap w-full font-semibold text-[38px] leading-[35px] mobile-lg:text-[26px] mobile-lg:leading-[29px];

				color: $light-slate2;

				&::before {
					@apply bg-none mr-4 content-[""] block relative  w-[500px] h-[1px] ml-[20px] tablet-lg:w-full tablet-sm:ml-[10px];

					background-color: $light-navy2;
				}

				&::after {
					@apply content-[""] block relative  w-[500px] h-[1px] ml-[20px] tablet-lg:w-full tablet-sm:ml-[10px];

					background-color: $light-navy2;
				}
			}

			.inner {
				a {
					@apply bg-none relative z-[1];
				}

				.work-item {
					@apply bg-none relative grid grid-cols-12 gap-[10px] items-center;

					/*--------------------------- right sided design here ---------------------------*/

					&:nth-child(odd) {
						.project_content {
							@apply bg-none col-[7/-1] text-right mobile-lg:px-[20px] mobile-lg:pt-[25px] mobile-lg:pb-[20px] tablet-lg:col-[1/-1] tablet-lg:text-left;

							.project_desc {
								@apply bg-none tablet-lg:bg-transparent tablet-lg:shadow-none;

								.odd_links {
									@apply tablet-lg:justify-start
								}
							}

							.project_techs {
								@apply bg-none justify-end tablet-lg:justify-start;

								li {
									@apply bg-none mb-[5px] mr-[0px] ml-[20px] tablet-lg:mb-[10px] tablet-lg:mr-[5px] tablet-lg:ml-0;
								}
							}
						}

						.project_image {
							@apply col-[1/8] tablet-lg:col-[1/-1];
						}

						.project_links {
							@apply justify-end ml-0 -mr-[10px] tablet-lg:justify-start;
						}
					}

					/*------------------------------- work contents -------------------------------*/

					.project_content {
						@apply bg-none relative tablet-lg:flex tablet-lg:flex-col tablet-lg:justify-center tablet-lg:h-full tablet-lg:z-[5] tablet-lg:px-[30px] tablet-lg:pt-[40px] tablet-lg:pb-[30px];

						@media screen and (max-width: 768px) {
							grid-column: 1/-1;
						}

						grid-area: 1 / 1 / -1 / 7;

						.project_overline {
							@apply bg-none my-[10px] text-[13px];

							color: $green;
							font-family: "SFMono";
							background: none;
						}

						.project_title {
							@apply mb-5 text-[28px] font-semibold tablet-lg:text-[#e6f1ff] mobile-lg:text-[24px];

							a {
								@apply tablet-lg:static;

								&::before {
									@apply tablet-lg:content-[""] tablet-lg:absolute tablet-lg:block tablet-lg:z-0 tablet-lg:w-full tablet-lg:h-full tablet-lg:top-0 tablet-lg:left-0;
								}
							}

							color: $light-slate2;
							transition: $delay;
							background: none;

							&:hover {
								color: $monokai;
							}
						}

						.project_desc {
							@apply relative flex-col items-center justify-center text-[18px] leading-[23px] p-6 rounded tablet-lg:py-5 tablet-lg:px-0 tablet-lg:shadow-none;

							@media screen and (max-width: 768px) {
								background: transparent;
								// box-shadow: none;
							}

							color: $light-slate1;
							box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
							z-index: 2;

							a {
								@apply bg-none rounded-sm text-[13px] py-[0.35rem] mt-5 px-2.5 flex border desktop-lg:items-start;
			
								font-family: "Mukta";
								font-size:smaller;
								align-items: center;
								font-weight: bold;
								transition: $delay;
								

								svg {
									@apply bg-none w-[20px] h-[20px] ml-2 items-center justify-center flex;
								}


								&:hover {
									background: rgba($monokai, 0.5);
									transition: $delay;
								}
							}

						
						}

						.project_techs {
							@apply flex relative z-[2] mt-[25px] mb-[10px] tablet-lg:my-[10px] tablet-lg:mx-0 tablet-lg:flex-wrap;

							li {
								@apply bg-none rounded-md bg-[#706b75] px-2 py-1 whitespace-nowrap text-[13px] mr-[20px] mb-[5px] tablet-lg:mr-[10px] tablet-lg:mb-[5px] tablet-lg:text-[#ccd6f6];

								color: $white;
								font-family: "SFMono";
							}

							button {
								@apply flex
							}
						}

						.project_links {
							@apply flex items-center relative mt-[10px] -ml-[10px];

							color: $light-slate2;

							a {
								@apply flex items-center justify-center p-[10px];

								svg {
									@apply w-[20px] h-[20px];
								}

								&:last-of-type {
									svg {
										@apply w-[22px] h-[22px] -mt-1;
									}
								}

								&:hover {
									color: $green;
								}
							}
						}
					}

					/*---------------------------- work cover image ----------------------------*/

					.project_image {
						@apply relative tablet-lg:h-full tablet-lg:opacity-25;

						@media screen and (max-width: 768px) {
							grid-column: 1/-1;
						}

						box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
						grid-area: 1 / 6 / -1 / -1;
						transition: $delay;
						z-index: 1;

						a {
							@apply w-full h-full rounded align-middle;

					
							transition: $delay;

							.img {
								@apply bg-none w-full h-full rounded overflow-hidden object-cover;

								filter: grayscale(5%) contrast(1)
									brightness(90%);
								transition: $delay;

								img {
									@apply tablet-lg:object-cover tablet-lg:w-auto tablet-lg:h-full;

									mix-blend-mode: multiply;
								}
							}

							&::before {
								@apply content-[""] absolute w-full h-full inset-0 z-[3] mix-blend-screen;

								transition: $delay;
							}
						}

						&:hover {
							.img {
								filter: grayscale(0%) contrast(1)
									brightness(100%);

								img {
									mix-blend-mode: normal;
								}
							}

							&::before {
								background: transparent;
							}
						}
					}

					&:not(:last-of-type) {
						@apply mb-[100px] mobile-lg:mb-[30px];
					}
				}
			}
		}
	}
}
